.menu-container h1 h2 {
    font-size:8px;
    color:white;
}



.modal-card{
   
    height: 100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal-card div{
    background-color:#000;
    padding: 50px;
}

.menu-container {
    display:flex;
    justify-content:space-between;
    padding:30px;
}

.menu-container img {
    width: 90px;

}


.assentos-container {
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);

}

.assentos-container h1{
        padding:10px;
}
.cadeirinha-div {
    width: 70px;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
     padding:10px; 

}

.cadeirinha-div:hover {
    border-radius: 20px;
    background-color:white;
    cursor:pointer;
}

.button-selection {
    border-radius: 20px;
    background-color:white;
}
.cadeirinha {
    font-weight: 700;
    position:absolute;
}


.chairs-container {
    display:flex;
    flex-wrap:wrap;
}

.store-container {
    padding:10px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;

}
.Modal-Container {
    display:flex;
   height:100%;
}

.modal-inf{
    display:flex;
    flex-direction: column;
    
}
.modal-card-show h1{
    color:rgb(64, 48, 237);
}

.modal-inf p {
    padding:5px;
    color:rgb(64, 48, 237);
    
}


.modal-card-show{
    border-radius: 10px;
    
}

.buy-info {
    border-top: 1px solid rgb(255, 255, 255);
}