.home-Promotion h1 {
   /* font-size:5px; */
   
}   

.home-Welcome {
    background-color:#000;
}

.home-Promotion {
    border-radius: 20px;
    display:flex;

}

.img-footer{
    position: absolute;
}

.Inside {
    display: flex;
    padding:20px;

}

.promotion-Image {
    max-width:100%;
    margin-right: -10px;
}


